$bdrds: 3px;

$white: #fff;
$black: #0e1d34ea;
$gray: #9e9e9e;
$red: #FB1D26;
$smoky-black: rgba(#0e1d34ea, .85);

$ff: Wallie, Helvetica;
$ff-body: 12px;
$ff-light: 300;
$ff-regular: 400;
$ff-medium: 500;
$ff-strong: 700;

button {
    background-color: transparent;
    padding: 0;
    border: 0;
    outline: 0;
    cursor: pointer;
}

input {
    background-color: transparent;
    padding: 0;
    border: 0;
    outline: 0;
    &[type="submit"] {
        cursor: pointer;
    }
    &::placeholder {
        font-size: .85rem;
        letter-spacing: .1rem;
        color: $gray;
    }
}

.user {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    // background-color: #0e1d34ea;
    .error {
        color: red;
        font-style: italic;
        float: left;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    &_options-container {
        position: relative;
        width: 80%;
    }
    &_options-text {
        display: flex;
        justify-content: space-between;
        width: 100%;
        background-color: $smoky-black;
        border-radius: $bdrds;
    }
}

.user_options-registered, .user_options-unregistered {
    width: 50%;
    // padding: 100px 45px;
    color: $white;
    font-weight: $ff-light;
}

.user_registered-title, .user_unregistered-title {
    margin-bottom: 15px;
    font-size: 1.66rem;
    line-height: 1em;
}

.user_unregistered-text, .user_registered-text {
    font-size: .83rem;
    line-height: 1.4em;
}

.user_registered-login, .user_unregistered-signup {
    margin-top: 30px;
    border: 1px solid $gray;
    border-radius: $bdrds;
    padding: 10px 30px;
    color: $white;
    text-transform: uppercase;
    line-height: 1em;
    letter-spacing: .2rem;
    transition: background-color .2s ease-in-out, color .2s ease-in-out;
    &:hover {
        color: $smoky-black;
        background-color: $gray;
    }
}

.user_options-forms {
    min-height: 550px;
    background-color: $white;
    border-radius: $bdrds;
    box-shadow: 2px 0 15px rgba($black, .25);
    overflow: hidden;
}

.user_forms-login {
    transition: opacity .4s ease-in-out, visibility .4s ease-in-out;
}

.forms {
    &_title {
    margin-bottom: 45px;
    font-size: 1.5rem;
    font-weight: $ff-medium;
    line-height: 1em;
    text-transform: uppercase;
    color: $red;
    letter-spacing: .1rem;
    }

    &_field {
        &:not(:last-of-type) {
            margin-bottom: 20px;
        }
    }

    &_field-input {
        width: 100%;
        border-bottom: 1px solid $gray;
        padding: 6px 20px 6px 6px;
        font-family: $ff;
        font-size: 1rem;
        font-weight: $ff-light;
        color: darken($gray, 30%);
        letter-spacing: .1rem;
        transition: border-color .2s ease-in-out;
    }

    &:focus {
        border-color: darken($gray, 30%);
    }

    &_buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 35px;
        &-forgot {
            font-family: $ff;
            letter-spacing: .1rem;
            color: $gray;
            text-decoration: underline;
            transition: color .2s ease-in-out;
            &:hover {
                color: darken($gray, 10%)
            }
        }

        &-action {
            background-color: $red;
            border-radius: $bdrds;
            padding: 10px 35px;
            font-size: 1rem;
            font-family: $ff;
            font-weight: $ff-strong;
            color: $white;
            text-transform: uppercase;
            letter-spacing: .1rem;
            transition: background-color .2s ease-in-out;
            margin-top: 5%;
            &:hover {
                background-color: darken($red, 10%);
            }
        }
    }
}

.user_forms-signup, .user_forms-login {
    position: absolute;
    top: 40px;
    left: 40px;
    width: calc(100% - 80px);
}

.user_forms-login {
    top: 70px;
    h2 {
        margin-bottom: 50px;
    }
}

.user_forms-signup {
    transform: translate3d(120px, 0, 0);
}

.user_forms-login {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    visibility: visible;
}

.user_options-forms {
    &.SignUp {
        animation: bounceLeft 1s forwards;
        .user_forms-signup {
            animation: showSignUp 1s forwards;
        }
        .user_forms-login {
            opacity: 0;
            visibility: hidden;
            transform: translate3d(-120px, 0, 0);
        }
    }
    &.SignIn {
        animation: bounceRight 1s forwards;
    }
}

@media screen and (max-width: 576px) {

    .user_options-registered, .user_options-unregistered {
        display: none;
    }
    
    .user_registered-login, .user_unregistered-signup {
        display: none;
    }
    
    .user_options-forms {
        display: block;
        margin: auto;
        position: relative;
        width: 300px;
    }
    
    .user_options-forms {
        &.SignUp {
            animation: none;
            .user_forms-signup {
                animation: none;
            }
            .user_forms-login {
                opacity: 0;
                visibility: hidden;
            }
        }
        &.SignIn {
            animation: none;
        }
    }

    .user_forms-signup {
        transform: translate3d(0, 0, 0);
    }
    
    .user_forms-login {
        transform: translate3d(0, 0, 0);
        opacity: 1;
        visibility: visible;
    }    

}

@media screen and (min-width: 577px) {

    .user_options-forms {
        min-height: 450px;
    }

    .user_options-registered, .user_options-unregistered {
        height: 300px;
        padding: 60px 45px;
    }

    .user_registered-title, .user_unregistered-title {
        font-size: 1.40rem;
    }

    .user_options-forms {
        position: absolute;
        top: 50%;
        left: 30px;
        width: calc(50% - 30px);
        min-height: 550px;
        transform: translate3d(100%, -50%, 0);
        transition: transform .4s ease-in-out;
    }

    .user_forms-signup, .user_forms-login {
        opacity: 0;
        visibility: hidden;
        transition: opacity .4s ease-in-out, visibility .4s ease-in-out, transform .5s ease-in-out;
    }

    .user_forms-signup, .user_forms-login {
        opacity: 0;
        visibility: hidden;
        transition: opacity .4s ease-in-out, visibility .4s ease-in-out, transform .5s ease-in-out;
    }

    
    .user_forms-login {
        transform: translate3d(0, 0, 0);
        opacity: 1;
        visibility: visible;
    }
}

@media screen and (min-width: 992px) {
    
    .user_options-forms {
        min-height: 550px;
        .forms_buttons {
            flex-direction: column;
        }
        .user_forms-login, .forms_buttons-action {
            margin-top: 30px;
        }
        .user_forms-signup, .user_forms-login {
            top: 40px;
        }
    }
        
    .user_options-registered, .user_options-unregistered {
        padding: 50px 45px;
    }

    .user_options-forms {
        position: absolute;
        top: 50%;
        left: 30px;
        width: calc(50% - 30px);
        min-height: 550px;
        transform: translate3d(100%, -50%, 0);
        transition: transform .4s ease-in-out;
    }

    .user_forms-signup, .user_forms-login {
        opacity: 0;
        visibility: hidden;
        transition: opacity .4s ease-in-out, visibility .4s ease-in-out, transform .5s ease-in-out;
    }

    
    .user_forms-login {
        transform: translate3d(0, 0, 0);
        opacity: 1;
        visibility: visible;
    }
}

@keyframes bounceLeft {
    0% {
        transform: translate3d(100%, -50%, 0);
    }

    50% {
        transform: translate3d(-30px, -50%, 0);
    }

    100% {
        transform: translate3d(0, -50%, 0);
    }
}

@keyframes bounceRight {
    0% {
        transform: translate3d(0, -50%, 0);
    }

    50% {
        transform: translate3d(calc(100% + 30px), -50%, 0);
    }

    100% {
        transform: translate3d(100%, -50%, 0);
    }
}

@keyframes showSignUp {
    100% {
        opacity: 1;
        visibility: visible;
        transform: translate3d(0, 0, 0);
    }
}

$color-secondary: var(--color-secondary);
$color-primary: var(--color-primary);
$font-primary: var(--font-primary);

.login_list {
  width: 100%;
  min-height: 50vh;
  background-color: $color-secondary;
  background-image: linear-gradient(#0e1d34ea,#0e1d34dc,#0e1d34c0), url("../../../assets/img/login.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 120px 0 60px 0;
  color: rgba(255, 255, 255, 0.8);
}