failed to get console mode for stdout: Controlador no v├ílido.
--
-- PostgreSQL database dump
--

-- Dumped from database version 15.5 (Debian 15.5-1.pgdg120+1)
-- Dumped by pg_dump version 15.5 (Debian 15.5-1.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO postgres;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO postgres;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO postgres;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: billing_billing; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.billing_billing (
    id bigint NOT NULL,
    start_rent_id character varying,
    end_rent_id character varying,
    pay character varying(25) NOT NULL,
    rent_id bigint,
    user_id bigint NOT NULL
);


ALTER TABLE public.billing_billing OWNER TO postgres;

--
-- Name: billing_billing_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.billing_billing ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.billing_billing_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id bigint NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO postgres;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO postgres;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO postgres;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO postgres;

--
-- Name: incidents_incidencebici; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.incidents_incidencebici (
    id bigint NOT NULL,
    title character varying(25) NOT NULL,
    status character varying(100) NOT NULL,
    "desc" character varying(300) NOT NULL,
    bici_id bigint,
    user_id bigint NOT NULL
);


ALTER TABLE public.incidents_incidencebici OWNER TO postgres;

--
-- Name: incidents_incidencebici_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.incidents_incidencebici ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.incidents_incidencebici_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: incidents_incidenceslot; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.incidents_incidenceslot (
    id bigint NOT NULL,
    title character varying(25) NOT NULL,
    status character varying(100) NOT NULL,
    "desc" character varying(300) NOT NULL,
    slot_id bigint,
    user_id bigint NOT NULL
);


ALTER TABLE public.incidents_incidenceslot OWNER TO postgres;

--
-- Name: incidents_incidenceslot_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.incidents_incidenceslot ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.incidents_incidenceslot_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: incidents_incidencestation; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.incidents_incidencestation (
    id bigint NOT NULL,
    title character varying(25) NOT NULL,
    status character varying(100) NOT NULL,
    "desc" character varying(300) NOT NULL,
    station_id bigint,
    user_id bigint NOT NULL
);


ALTER TABLE public.incidents_incidencestation OWNER TO postgres;

--
-- Name: incidents_incidencestation_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.incidents_incidencestation ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.incidents_incidencestation_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: incidents_notification; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.incidents_notification (
    id bigint NOT NULL,
    seen boolean NOT NULL,
    "desc" character varying(300) NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.incidents_notification OWNER TO postgres;

--
-- Name: incidents_notification_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.incidents_notification ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.incidents_notification_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: rent_rent; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.rent_rent (
    id bigint NOT NULL,
    initial_date timestamp with time zone NOT NULL,
    end_date timestamp with time zone,
    bici_id bigint NOT NULL,
    end_slot_id bigint,
    initial_slot_id bigint NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.rent_rent OWNER TO postgres;

--
-- Name: rent_rent_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.rent_rent ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.rent_rent_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: stations_bicis; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.stations_bicis (
    id bigint NOT NULL,
    slug character varying(255) NOT NULL,
    name character varying(100) NOT NULL,
    status character varying(100) NOT NULL
);


ALTER TABLE public.stations_bicis OWNER TO postgres;

--
-- Name: stations_bicis_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.stations_bicis ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.stations_bicis_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: stations_slot; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.stations_slot (
    id bigint NOT NULL,
    status character varying(100) NOT NULL,
    slot_number integer NOT NULL,
    bici_id bigint,
    stations_id bigint NOT NULL
);


ALTER TABLE public.stations_slot OWNER TO postgres;

--
-- Name: stations_slot_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.stations_slot ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.stations_slot_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: stations_stations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.stations_stations (
    id bigint NOT NULL,
    name character varying(200) NOT NULL,
    direction character varying(255) NOT NULL,
    location character varying(200) NOT NULL,
    img character varying(255) NOT NULL,
    slug character varying(255) NOT NULL,
    latitud numeric(30,20) NOT NULL,
    long numeric(30,20) NOT NULL
);


ALTER TABLE public.stations_stations OWNER TO postgres;

--
-- Name: stations_stations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.stations_stations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.stations_stations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_profile; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users_profile (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    surnames character varying(100) NOT NULL,
    image character varying(100) NOT NULL,
    biography character varying(100) NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.users_profile OWNER TO postgres;

--
-- Name: users_profile_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.users_profile ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_profile_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users_user (
    id bigint NOT NULL,
    uuid character varying(36) NOT NULL,
    username character varying(30) NOT NULL,
    email character varying(254) NOT NULL,
    password character varying(128) NOT NULL,
    type character varying(10) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL
);


ALTER TABLE public.users_user OWNER TO postgres;

--
-- Name: users_user_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users_user_groups (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.users_user_groups OWNER TO postgres;

--
-- Name: users_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.users_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.users_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_user_user_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users_user_user_permissions (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.users_user_user_permissions OWNER TO postgres;

--
-- Name: users_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.users_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: billing_billing; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.billing_billing (id, start_rent_id, end_rent_id, pay, rent_id, user_id) FROM stdin;
1	\N	\N	20	1	1
2	\N	\N	28	1	1
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_admin_log (id, action_time, object_id, object_repr, action_flag, change_message, content_type_id, user_id) FROM stdin;
\.


--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	stations	stations
2	stations	bicis
3	stations	slot
4	admin	logentry
5	auth	permission
6	auth	group
7	contenttypes	contenttype
8	sessions	session
9	users	user
10	users	profile
11	rent	rent
12	incidents	incidencebici
13	incidents	incidenceslot
14	incidents	incidencestation
15	incidents	notification
16	billing	billing
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_session (session_key, session_data, expire_date) FROM stdin;
\.


--
-- Data for Name: incidents_incidencebici; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.incidents_incidencebici (id, title, status, "desc", bici_id, user_id) FROM stdin;
\.


--
-- Data for Name: incidents_incidenceslot; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.incidents_incidenceslot (id, title, status, "desc", slot_id, user_id) FROM stdin;
\.


--
-- Data for Name: incidents_incidencestation; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.incidents_incidencestation (id, title, status, "desc", station_id, user_id) FROM stdin;
1	Estacion 1	in_progress	Estacion da├▒ada	1	1
\.


--
-- Data for Name: incidents_notification; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.incidents_notification (id, seen, "desc", user_id) FROM stdin;
1	t	Your slot incidence: Estacion 1, is in progress.	1
\.


--
-- Data for Name: rent_rent; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.rent_rent (id, initial_date, end_date, bici_id, end_slot_id, initial_slot_id, user_id) FROM stdin;
1	2024-03-08 10:26:07.921539+00	2024-03-08 10:26:15.611363+00	1	1	1	1
2	2024-03-08 10:33:48.779601+00	2024-03-08 10:34:02.50428+00	2	2	2	1
3	2024-03-08 10:39:47.919508+00	2024-03-08 10:42:40.780639+00	3	3	3	1
4	2024-03-08 10:45:28.030287+00	2024-03-08 10:45:33.733853+00	4	4	4	1
5	2024-03-08 10:48:26.327637+00	2024-03-08 10:48:39.48417+00	5	5	5	1
6	2024-03-08 10:53:43.883038+00	2024-03-08 10:53:49.655934+00	1	1	1	1
\.


--
-- Data for Name: stations_bicis; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.stations_bicis (id, slug, name, status) FROM stdin;
2	bici2-w4855c	Bici2	vacant
3	bici3-86n0hr	Bici3	vacant
4	bici4-f4i3mv	Bici4	vacant
5	bici4-dkbiiu	Bici5	vacant
1	bici1-5jxqzv	Bici1	vacant
\.


--
-- Data for Name: stations_slot; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.stations_slot (id, status, slot_number, bici_id, stations_id) FROM stdin;
2	in_use	2	2	1
3	in_use	3	3	1
4	in_use	4	4	1
5	in_use	5	5	1
1	in_use	1	1	1
\.


--
-- Data for Name: stations_stations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.stations_stations (id, name, direction, location, img, slug, latitud, long) FROM stdin;
1	Estacion economica	Av. Almaig	Ontinyent	station1	estacion-economica-q2uqwq	38.81877820521563000000	-0.60651025240118350000
\.


--
-- Data for Name: users_profile; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users_profile (id, name, surnames, image, biography, user_id) FROM stdin;
1			https://avatars.dicebear.com/api/adventurer/usuario1.svg	Hello, I'm a scoonti user	1
\.


--
-- Data for Name: users_user; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users_user (id, uuid, username, email, password, type, last_login, is_superuser) FROM stdin;
1	0a569900-1e65-1fc6-5c78-d8192036bff1	usuario1	usuario1@gamil.com	pbkdf2_sha256$720000$2nIr97wGC3krIVz8PY27St$Yim0gpqsa08RNm+BTomlRnX8BQevNKtZ63mMndNWPHg=	admin	\N	f
\.


--
-- Data for Name: users_user_groups; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: users_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 64, true);


--
-- Name: billing_billing_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.billing_billing_id_seq', 2, true);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 1, false);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 16, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 37, true);


--
-- Name: incidents_incidencebici_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.incidents_incidencebici_id_seq', 1, false);


--
-- Name: incidents_incidenceslot_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.incidents_incidenceslot_id_seq', 1, false);


--
-- Name: incidents_incidencestation_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.incidents_incidencestation_id_seq', 1, true);


--
-- Name: incidents_notification_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.incidents_notification_id_seq', 1, true);


--
-- Name: rent_rent_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.rent_rent_id_seq', 6, true);


--
-- Name: stations_bicis_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.stations_bicis_id_seq', 5, true);


--
-- Name: stations_slot_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.stations_slot_id_seq', 5, true);


--
-- Name: stations_stations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.stations_stations_id_seq', 1, true);


--
-- Name: users_profile_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_profile_id_seq', 1, true);


--
-- Name: users_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_user_groups_id_seq', 1, false);


--
-- Name: users_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_user_id_seq', 1, true);


--
-- Name: users_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_user_user_permissions_id_seq', 1, false);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: billing_billing billing_billing_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.billing_billing
    ADD CONSTRAINT billing_billing_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: incidents_incidencebici incidents_incidencebici_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.incidents_incidencebici
    ADD CONSTRAINT incidents_incidencebici_pkey PRIMARY KEY (id);


--
-- Name: incidents_incidenceslot incidents_incidenceslot_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.incidents_incidenceslot
    ADD CONSTRAINT incidents_incidenceslot_pkey PRIMARY KEY (id);


--
-- Name: incidents_incidencestation incidents_incidencestation_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.incidents_incidencestation
    ADD CONSTRAINT incidents_incidencestation_pkey PRIMARY KEY (id);


--
-- Name: incidents_notification incidents_notification_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.incidents_notification
    ADD CONSTRAINT incidents_notification_pkey PRIMARY KEY (id);


--
-- Name: rent_rent rent_rent_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rent_rent
    ADD CONSTRAINT rent_rent_pkey PRIMARY KEY (id);


--
-- Name: stations_bicis stations_bicis_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stations_bicis
    ADD CONSTRAINT stations_bicis_pkey PRIMARY KEY (id);


--
-- Name: stations_bicis stations_bicis_slug_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stations_bicis
    ADD CONSTRAINT stations_bicis_slug_key UNIQUE (slug);


--
-- Name: stations_slot stations_slot_bici_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stations_slot
    ADD CONSTRAINT stations_slot_bici_id_key UNIQUE (bici_id);


--
-- Name: stations_slot stations_slot_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stations_slot
    ADD CONSTRAINT stations_slot_pkey PRIMARY KEY (id);


--
-- Name: stations_stations stations_stations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stations_stations
    ADD CONSTRAINT stations_stations_pkey PRIMARY KEY (id);


--
-- Name: users_profile users_profile_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_profile
    ADD CONSTRAINT users_profile_pkey PRIMARY KEY (id);


--
-- Name: users_user users_user_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_user
    ADD CONSTRAINT users_user_email_key UNIQUE (email);


--
-- Name: users_user_groups users_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_user_groups
    ADD CONSTRAINT users_user_groups_pkey PRIMARY KEY (id);


--
-- Name: users_user_groups users_user_groups_user_id_group_id_b88eab82_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_user_groups
    ADD CONSTRAINT users_user_groups_user_id_group_id_b88eab82_uniq UNIQUE (user_id, group_id);


--
-- Name: users_user users_user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_user
    ADD CONSTRAINT users_user_pkey PRIMARY KEY (id);


--
-- Name: users_user_user_permissions users_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_user_user_permissions
    ADD CONSTRAINT users_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: users_user_user_permissions users_user_user_permissions_user_id_permission_id_43338c45_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_user_user_permissions
    ADD CONSTRAINT users_user_user_permissions_user_id_permission_id_43338c45_uniq UNIQUE (user_id, permission_id);


--
-- Name: users_user users_user_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_user
    ADD CONSTRAINT users_user_username_key UNIQUE (username);


--
-- Name: users_user users_user_uuid_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_user
    ADD CONSTRAINT users_user_uuid_key UNIQUE (uuid);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: billing_billing_rent_id_a2d16f01; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX billing_billing_rent_id_a2d16f01 ON public.billing_billing USING btree (rent_id);


--
-- Name: billing_billing_user_id_09f5aa1e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX billing_billing_user_id_09f5aa1e ON public.billing_billing USING btree (user_id);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: incidents_incidencebici_bici_id_9f2be655; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX incidents_incidencebici_bici_id_9f2be655 ON public.incidents_incidencebici USING btree (bici_id);


--
-- Name: incidents_incidencebici_user_id_cb9a0150; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX incidents_incidencebici_user_id_cb9a0150 ON public.incidents_incidencebici USING btree (user_id);


--
-- Name: incidents_incidenceslot_slot_id_04331493; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX incidents_incidenceslot_slot_id_04331493 ON public.incidents_incidenceslot USING btree (slot_id);


--
-- Name: incidents_incidenceslot_user_id_1eca5a1f; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX incidents_incidenceslot_user_id_1eca5a1f ON public.incidents_incidenceslot USING btree (user_id);


--
-- Name: incidents_incidencestation_station_id_eff5a935; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX incidents_incidencestation_station_id_eff5a935 ON public.incidents_incidencestation USING btree (station_id);


--
-- Name: incidents_incidencestation_user_id_ad0af63b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX incidents_incidencestation_user_id_ad0af63b ON public.incidents_incidencestation USING btree (user_id);


--
-- Name: incidents_notification_user_id_640b50dc; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX incidents_notification_user_id_640b50dc ON public.incidents_notification USING btree (user_id);


--
-- Name: rent_rent_bici_id_87507316; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX rent_rent_bici_id_87507316 ON public.rent_rent USING btree (bici_id);


--
-- Name: rent_rent_end_slot_id_e6928abe; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX rent_rent_end_slot_id_e6928abe ON public.rent_rent USING btree (end_slot_id);


--
-- Name: rent_rent_initial_slot_id_3ce95d48; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX rent_rent_initial_slot_id_3ce95d48 ON public.rent_rent USING btree (initial_slot_id);


--
-- Name: rent_rent_user_id_07f92b1b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX rent_rent_user_id_07f92b1b ON public.rent_rent USING btree (user_id);


--
-- Name: stations_bicis_slug_4940b2f0_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX stations_bicis_slug_4940b2f0_like ON public.stations_bicis USING btree (slug varchar_pattern_ops);


--
-- Name: stations_slot_stations_id_62141780; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX stations_slot_stations_id_62141780 ON public.stations_slot USING btree (stations_id);


--
-- Name: users_profile_user_id_2112e78d; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_profile_user_id_2112e78d ON public.users_profile USING btree (user_id);


--
-- Name: users_user_email_243f6e77_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_user_email_243f6e77_like ON public.users_user USING btree (email varchar_pattern_ops);


--
-- Name: users_user_groups_group_id_9afc8d0e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_user_groups_group_id_9afc8d0e ON public.users_user_groups USING btree (group_id);


--
-- Name: users_user_groups_user_id_5f6f5a90; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_user_groups_user_id_5f6f5a90 ON public.users_user_groups USING btree (user_id);


--
-- Name: users_user_user_permissions_permission_id_0b93982e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_user_user_permissions_permission_id_0b93982e ON public.users_user_user_permissions USING btree (permission_id);


--
-- Name: users_user_user_permissions_user_id_20aca447; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_user_user_permissions_user_id_20aca447 ON public.users_user_user_permissions USING btree (user_id);


--
-- Name: users_user_username_06e46fe6_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_user_username_06e46fe6_like ON public.users_user USING btree (username varchar_pattern_ops);


--
-- Name: users_user_uuid_6fe513d7_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_user_uuid_6fe513d7_like ON public.users_user USING btree (uuid varchar_pattern_ops);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: billing_billing billing_billing_rent_id_a2d16f01_fk_rent_rent_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.billing_billing
    ADD CONSTRAINT billing_billing_rent_id_a2d16f01_fk_rent_rent_id FOREIGN KEY (rent_id) REFERENCES public.rent_rent(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: billing_billing billing_billing_user_id_09f5aa1e_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.billing_billing
    ADD CONSTRAINT billing_billing_user_id_09f5aa1e_fk_users_user_id FOREIGN KEY (user_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_users_user_id FOREIGN KEY (user_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: incidents_incidencebici incidents_incidencebici_bici_id_9f2be655_fk_stations_bicis_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.incidents_incidencebici
    ADD CONSTRAINT incidents_incidencebici_bici_id_9f2be655_fk_stations_bicis_id FOREIGN KEY (bici_id) REFERENCES public.stations_bicis(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: incidents_incidencebici incidents_incidencebici_user_id_cb9a0150_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.incidents_incidencebici
    ADD CONSTRAINT incidents_incidencebici_user_id_cb9a0150_fk_users_user_id FOREIGN KEY (user_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: incidents_incidencestation incidents_incidences_station_id_eff5a935_fk_stations_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.incidents_incidencestation
    ADD CONSTRAINT incidents_incidences_station_id_eff5a935_fk_stations_ FOREIGN KEY (station_id) REFERENCES public.stations_stations(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: incidents_incidenceslot incidents_incidenceslot_slot_id_04331493_fk_stations_slot_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.incidents_incidenceslot
    ADD CONSTRAINT incidents_incidenceslot_slot_id_04331493_fk_stations_slot_id FOREIGN KEY (slot_id) REFERENCES public.stations_slot(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: incidents_incidenceslot incidents_incidenceslot_user_id_1eca5a1f_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.incidents_incidenceslot
    ADD CONSTRAINT incidents_incidenceslot_user_id_1eca5a1f_fk_users_user_id FOREIGN KEY (user_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: incidents_incidencestation incidents_incidencestation_user_id_ad0af63b_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.incidents_incidencestation
    ADD CONSTRAINT incidents_incidencestation_user_id_ad0af63b_fk_users_user_id FOREIGN KEY (user_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: incidents_notification incidents_notification_user_id_640b50dc_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.incidents_notification
    ADD CONSTRAINT incidents_notification_user_id_640b50dc_fk_users_user_id FOREIGN KEY (user_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: rent_rent rent_rent_bici_id_87507316_fk_stations_bicis_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rent_rent
    ADD CONSTRAINT rent_rent_bici_id_87507316_fk_stations_bicis_id FOREIGN KEY (bici_id) REFERENCES public.stations_bicis(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: rent_rent rent_rent_end_slot_id_e6928abe_fk_stations_slot_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rent_rent
    ADD CONSTRAINT rent_rent_end_slot_id_e6928abe_fk_stations_slot_id FOREIGN KEY (end_slot_id) REFERENCES public.stations_slot(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: rent_rent rent_rent_initial_slot_id_3ce95d48_fk_stations_slot_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rent_rent
    ADD CONSTRAINT rent_rent_initial_slot_id_3ce95d48_fk_stations_slot_id FOREIGN KEY (initial_slot_id) REFERENCES public.stations_slot(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: rent_rent rent_rent_user_id_07f92b1b_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rent_rent
    ADD CONSTRAINT rent_rent_user_id_07f92b1b_fk_users_user_id FOREIGN KEY (user_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: stations_slot stations_slot_bici_id_a7df8259_fk_stations_bicis_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stations_slot
    ADD CONSTRAINT stations_slot_bici_id_a7df8259_fk_stations_bicis_id FOREIGN KEY (bici_id) REFERENCES public.stations_bicis(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: stations_slot stations_slot_stations_id_62141780_fk_stations_stations_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stations_slot
    ADD CONSTRAINT stations_slot_stations_id_62141780_fk_stations_stations_id FOREIGN KEY (stations_id) REFERENCES public.stations_stations(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_profile users_profile_user_id_2112e78d_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_profile
    ADD CONSTRAINT users_profile_user_id_2112e78d_fk_users_user_id FOREIGN KEY (user_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_user_groups users_user_groups_group_id_9afc8d0e_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_user_groups
    ADD CONSTRAINT users_user_groups_group_id_9afc8d0e_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_user_groups users_user_groups_user_id_5f6f5a90_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_user_groups
    ADD CONSTRAINT users_user_groups_user_id_5f6f5a90_fk_users_user_id FOREIGN KEY (user_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_user_user_permissions users_user_user_perm_permission_id_0b93982e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_user_user_permissions
    ADD CONSTRAINT users_user_user_perm_permission_id_0b93982e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_user_user_permissions users_user_user_permissions_user_id_20aca447_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_user_user_permissions
    ADD CONSTRAINT users_user_user_permissions_user_id_20aca447_fk_users_user_id FOREIGN KEY (user_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

