.rents_list_container {
  margin-bottom: 3%;
  min-height: 77vh;
  overflow-x: auto;

  h1 {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 30px;
  }

  .table {
    background-color: #EAF2E3;
    width: 80%;
    margin: auto;
    margin-bottom: 1%;
    border: 2px solid #333;
    border-collapse: collapse;

    .thead_rents_list {
      background-color: #0e1d34c0;
      text-transform: uppercase;
    }

    th {
      background-color: #0e1d34c0;
      color: white;
      text-align: center;
      border: 2px solid #333;
      padding: 5px;
    }

    td {
      text-align: center;
      border: 2px solid #333;
      vertical-align: middle;
      padding: 5px;
    }
  }
}

$color-secondary: var(--color-secondary);
$color-primary: var(--color-primary);
$font-primary: var(--font-primary);

.rent_list {
  margin-bottom: 3%;
  width: 100%;
  min-height: 50vh;
  background-color: $color-secondary;
  background-image: linear-gradient(#0e1d34d4, #0e1d34be, #0e1d34a1), url("../../../assets/img/dashboard_rend.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 120px 0 60px 0;
  color: rgba(255, 255, 255, 0.8);

  h2 {
    margin-bottom: 20px;
    padding: 0;
    font-size: 48px;
    font-weight: 700;
    color: #fff;

    @media (max-width: 575px) {
      font-size: 30px;
    }
  }

  p {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 40px;
  }

  form {
    background: #fff;
    padding: 10px;
    border-radius: 10px;

    .form-control {
      padding-top: 18px;
      padding-bottom: 18px;
      padding-left: 20px;
      padding-right: 20px;
      border: none;
      margin-right: 10px;
      border: none !important;
      background: none !important;

      &:hover,
      &:focus {
        outline: none;
        box-shadow: none;
      }
    }

    .btn-primary {
      background-color: $color-primary;
      padding: 15px 30px;

      &:hover {
        background-color: #2756ff;
      }
    }
  }

  .stats-item {
    padding: 30px;
    width: 100%;

    span {
      font-size: 32px;
      display: block;
      font-weight: 700;
      margin-bottom: 15px;
      padding-bottom: 15px;
      position: relative;

      &:after {
        content: "";
        position: absolute;
        display: block;
        width: 20px;
        height: 3px;
        background: $color-primary;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
      }
    }

    p {
      padding: 0;
      margin: 0;
      font-family: $font-primary;
      font-size: 15px;
      font-weight: 600;
    }
  }
}