.maps_content {
    width: 100%;
    .marker_button {
        background-color: transparent;
        border: none;
    }
    .popup {
        text-align: center;
        color: #333;
        cursor: pointer;
        h5 {
            text-transform: uppercase;
            font-weight: bold;
        }
        img {
            border-radius: 3px;
        }
    }
}

@media screen and (max-width: 576px) {

    .maps_content {
        height: 60vh;
        .popup {
            width: 170px;
            height: 130px;
            h5 {
                font-size: 11px;
                text-transform: uppercase;
                font-weight: bold;
            }
            img {
                width: 170px;
                height: 113px;
                border-radius: 3px;
            }
        }
    }
}

@media screen and (min-width: 577px) {

    .maps_content {
        height: 60vh;
        .popup {
            width: 180px;
            height: 135px;
            h5 {
                font-size: 12px;
                text-transform: uppercase;
                font-weight: bold;
            }
            img {
                width: 180px;
                height: 120px;
                border-radius: 3px;
            }
        }
    }

}

@media screen and (min-width: 992px) {

    .maps_content {
        height: 60vh;
        .popup {
            width: 220px;
            height: 165px;
            h5 {
                font-size: 13px;
                text-transform: uppercase;
                font-weight: bold;
            }
            img {
                width: 220px;
                height: 147px;
                border-radius: 3px;
            }
        }
    }

}