.home_container {
    width: 100%;
    .title {
        text-align: center;
        padding: 20px;
        h1 {
            text-transform: uppercase;
            font-weight: bold;
        }
    }
    .maps {
   
        display: block;
        margin: auto;
        margin-top: 5%;
        margin-bottom: 5%;
        border: 2px solid #0e1d34ea;
        border-radius: 15px;
        .mapboxgl-map {
            border-radius: 15px;
        }
    }
}

@media screen and (max-width: 576px) {

    .home_container {
        min-height: 83vh;
        .title {
            h1 {
                font-size: 25px;
            }
        }
        .maps {
            width: 90%;
        }
    }

}

@media screen and (min-width: 577px) {

    .home_container {
        min-height: 81vh;
        .title {
            h1 {
                font-size: 30px;
            }
        }
        .maps {
            width: 80%;
        }
    }

}

@media screen and (min-width: 992px) {

    .home_container {
        min-height: 81vh;
        .title {
            h1 {
                font-size: 35px;
            }
        }
        .maps {
            width: 70%;
        }
    }

}

$color-secondary: var(--color-secondary);
$color-primary: var(--color-primary);
$font-primary: var(--font-primary);

.home {
  width: 100%;
  min-height: 50vh;
  background-color: $color-secondary;
  background-image: linear-gradient(#0e1d34ea,#0e1d34dc,#0e1d34c0), url("../../assets/img/home.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 120px 0 60px 0;
  color: rgba(255, 255, 255, 0.8);

  h2 {
    margin-bottom: 20px;
    padding: 0;
    font-size: 48px;
    font-weight: 700;
    color: #fff;

    @media (max-width: 575px) {
      font-size: 30px;
    }
  }

  p {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 40px;
  }

  form {
    background: #fff;
    padding: 10px;
    border-radius: 10px;

    .form-control {
      padding-top: 18px;
      padding-bottom: 18px;
      padding-left: 20px;
      padding-right: 20px;
      border: none;
      margin-right: 10px;
      border: none !important;
      background: none !important;

      &:hover,
      &:focus {
        outline: none;
        box-shadow: none;
      }
    }

    .btn-primary {
      background-color: $color-primary;
      padding: 15px 30px;

      &:hover {
        background-color: #2756ff;
      }
    }
  }

  .stats-item {
    padding: 30px;
    width: 100%;

    span {
      font-size: 32px;
      display: block;
      font-weight: 700;
      margin-bottom: 15px;
      padding-bottom: 15px;
      position: relative;

      &:after {
        content: "";
        position: absolute;
        display: block;
        width: 20px;
        height: 3px;
        background: $color-primary;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
      }
    }

    p {
      padding: 0;
      margin: 0;
      font-family: $font-primary;
      font-size: 15px;
      font-weight: 600;
    }
  }
}