.profile_container {
    padding: 20px;
    width: 100%;
    h1{
        margin-top:5% ;
    }
    h3 {
        font-size: 24px;
        font-weight: bold;
        text-transform: uppercase;
        color: #333;
        margin-top: 20px;
        margin-bottom: 30px;
        text-align: center;
    }

    h2 {
        font-size: 28px; // Estilo para h2
        font-weight: bold;
        text-transform: uppercase;
        color: #333;
        margin-top: 20px;
        margin-bottom: 30px;
        text-align: center;
    }
    p{
        text-align: center;
        color: black;
    }
    .title {
        text-align: center;
        padding: 20px;
        h1 {
            text-transform: uppercase;
            font-weight: bold;
            color: #333;
        }
    }
    .error {
        color: red;
        font-style: italic;
    }
    .error_server {
        color: red;
        font-style: italic;
        padding: 15px;
    }
    
    .profile {
        margin-top: 6%;
        width: 40%;
        margin-left: 30%;
        text-align: center;
        padding: 20px;
        background-color: #f2f2f2;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
    // .profile_image {
    //     margin-bottom: 20px;
    //     margin-right: 60% ;
    // }
    
    .user_image {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        overflow: hidden;
        border: 4px solid #0e1d34a0;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    }
    
    .profile_user{
        display: flex;
        flex-direction: column;
    }
    
    .profile_image_{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    .etiqueta {
        font-weight: bold;
        text-transform: uppercase;
        color: #333;
    }
  
             
}

@media screen and (max-width: 576px) {

    .profile_container {
        min-height: 83vh;
        .title {
            h1 {
                font-size: 25px;
            }
        }
        .profile {
            padding: 5px;
            grid-template-rows: repeat(1, 1fr);
            gap: 10px;
            align-items: center;
            justify-content: center;
            .profile_image {
                grid-row-start: 1;
                grid-row-end: 2;
                .user_image {

                    width: 150px;
                    height: 150px;
                    border-radius: 75px;
                }
                input {
                    margin-top: 20px;
                    width: 240px;
                }
            }
            .profile_user {
                grid-row-start: 2;
                grid-row-end: 3;
                .attribute_box {
                    padding: 15px;
                    .etiqueta {
                        display: block;
                        padding-bottom: 10px;
                        // margin: auto;
                    }
                    input {
                        text-align: center;
                        width: 210px;
                    }
                }
            }
        }
    }

}

@media screen and (min-width: 576px) {

    .profile_container {
        min-height: 81vh;
        .title {
            h1 {
                font-size: 30px;
            }
        }
        .profile {
            padding: 20px;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(1, 1fr);
            gap: 20px;
            align-items: center;
            justify-content: center;
            .profile_image {
                grid-column-start: 1;
                grid-column-end: 2;
                grid-row-start: 1;
                grid-row-end: 2;
                
                .user_image {
                    width: 200px;
                    height: 200px;
                    border-radius: 100px;
                }
                input {
                    margin-top: 20px;
                    width: 240px;
                }
            }
            .profile_user {
                grid-column-start: 2;
                grid-column-end: 3;
                grid-row-start: 1;
                grid-row-end: 2;
                text-align: left;
                .attribute_box {
                    padding: 15px;
                    .etiqueta {
                        display: inline-block;
                        padding-bottom: 10px;
                    }
                    input {
                        width: 210px;
                    }
                }
            }
           
            .buttons_box {
                grid-column-start: 1;
                grid-column-end: 3;
                grid-row-start: 3;
                grid-row-end: 4;
                display: block;
                padding: 20px;
                .cancel {
                    font-size: 16px;
                    width: 130px;
                    height: 40px;
                    margin-right: 10%;
                }
                .edit {
                    font-size: 16px;
                    width: 130px;
                    height: 40px;
                }
                .confirm {
                    font-size: 16px;
                    width: 130px;
                    height: 40px;
                    margin-left: 10%;
                }
            }
        }
    }

}

@media screen and (min-width: 992px) {

    .profile_container {
        min-height: 81vh;
        .title {
            h1 {
                font-size: 35px;
            }
        }
        .profile {
            padding: 20px;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(1, 1fr);
            gap: 20px;
            align-items: center;
            justify-content: center;
            .profile_image {
                grid-column-start: 1;
                grid-column-end: 2;
                grid-row-start: 1;
                grid-row-end: 2;
                .user_image {
                    width: 200px;
                    height: 200px;
                    border-radius: 100px;
                }
                input {
                    margin-top: 20px;
                    width: 240px;
                }
            }
            .profile_user {
                grid-column-start: 2;
                grid-column-end: 3;
                grid-row-start: 1;
                grid-row-end: 2;
                text-align: left;
                .attribute_box {
                    padding: 15px;
                    .etiqueta {
                        display: inline-block;
                    }
                    input {
                        padding-left: 5px;
                        padding-right: 5px;
                        width: 210px;
                    }
                }
            }
            
            .buttons_box {
                grid-column-start: 1;
                grid-column-end: 3;
                grid-row-start: 3;
                grid-row-end: 4;
                display: block;
                padding: 20px;
                .cancel {
                    font-size: 16px;
                    width: 130px;
                    height: 40px;
                    margin-right: 10%;
                }
                .edit {
                    font-size: 16px;
                    width: 130px;
                    height: 40px;
                }
                .confirm {
                    font-size: 16px;
                    width: 130px;
                    height: 40px;
                    margin-left: 10%;
                }
            }
        }
    }

}

.incidents_list_container_slot, .incidents_list_container_station {
    padding: 20px;
    overflow-x: auto;

    h3 {
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        text-transform: uppercase;
        color: #333;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .add_button {
        display: inline-block;
        width: 150px;
        padding: 10px;
        margin: auto;
        margin-bottom: 20px;
        text-align: center;
        font-weight: bold;
        font-size: 14px;
        border: 2px solid #333;
        border-radius: 10px; 
        background-color: #EAF2E3;
        color: #333;
        text-transform: uppercase;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: #66D7D1;
        }
    }

    .slot_table {
        background-color: #EAF2E3;
        width: 80%;
        margin: auto;
        border: 2px solid #333;
        border-collapse: collapse;

        .thead_incidents_list {
            background-color: #0e1d34a0;
            text-transform: uppercase;
            font-weight: bold;
            color: #fff;
        }

        th, td {
            text-align: center;
            border: 2px solid #333;
            padding: 10px;
        }

        td {
            vertical-align: middle;
        }
    }
    .station_table {
        background-color: #EAF2E3;
        width: 80%;
        margin: auto;
        border: 2px solid #333;
        border-collapse: collapse;

        .thead_incidents_list {
            background-color: #0e1d34a0;
            text-transform: uppercase;
            font-weight: bold;
            color: #fff;
        }

        th, td {
            text-align: center;
            border: 2px solid #333;
            padding: 10px;
        }

        td {
            vertical-align: middle;
        }
    }
    
}


.billing {
    padding: 20px;
    // min-height: 77vh;
    overflow-x: auto;

    h3 {
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        text-transform: uppercase;
        color: #333;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    

    .billing_table {
        background-color: #EAF2E3;
        width: 80%;
        margin: auto;
        border: 2px solid #333;
        border-collapse: collapse;

        .thead_incidents_list {
            // background-color: #0e1d34a0;
            background-color: #008f88;
            text-transform: uppercase;
            font-weight: bold;
            color: #fff;
        }

        th, td {
            text-align: center;
            border: 2px solid #333;
            padding: 10px;
        }

        td {
            vertical-align: middle;
        }
    }
   
    
}